{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{ name }}</h2>

    {% for listing in listings %}
        <li class="listing_div">
            <div class="img_div">
                {% if listing.img_url %}
                <img class="thumbnail" src="{{ listing.img_url }}" alt="{{ listing.title }}">
                {% endif %}
            </div>
            <div class="info_div">
                <h4><a href="{% url "listing" listing.id %}">{{ listing.title }}</a></h2>
                <div>{{ listing.description }}</div>
                <div>Current Price: ${{ listing.price }}</div>
            </div>
        </li>
    {% endfor %}
{% endblock %}