{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ title }}</h2>

    {% if error %}
    {{ error }}
    <br>
    <a href="{% url 'index' %}">Back to Home</a>
    {% else %}
    <div>
        Listed by {{ user }}
    </div>

    <div>
    {% if image %}
        <img src="{{image}}" alt="{{ title }}">
    {% else %}
        No image avaliable
    {% endif %}
    </div>

    <div>
        TODO current price
    </div>

    {% if category %}
    <div>
        Category: <a href="{% url "category" category %}">{{ category }}</a>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <div>
        TODO bid or close auction
    </div>
    {% endif %}

    <div>
        {{ description }}
    </div>

    {% if user.is_authenticated %}
    {% if in_watchlist %}
    <div>
        <form action="{% url "unwatch" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value={{id}}>
            <input type="submit" value="Remove From Watchlist">
        </form>
    </div>
    {% else %}
    <div>
        <form action="{% url "watch" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value={{id}}>
            <input type="submit" value="Add to Watchlist">
        </form>
    </div>
    {% endif %}
    {% endif %}

    <div> 
        TODO comments
    </div>
    {% if user.is_authenticated %}
    <div>
        TODO add comment
    </div>
    {% endif %}
    {% endif %}
{% endblock %}