{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ title }}</h2>

    {% if error %}
    {{ error }}
    <br>
    <a href="{% url 'index' %}">Back to Home</a>
    {% else %}
    <div>
        Listed by {{ user }}
    </div>
    
    <div>
        TODO image
    </div>

    <div>
        TODO current price
    </div>

    <div>
        TODO category
    </div>

    <div>
        TODO bid or close auction
    </div>

    <div>
        {{ description }}
    </div>

    {% if in_watchlist %}
    <div>
        <form action="{% url "unwatch" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value={{id}}>
            <input type="submit" value="Remove From Watchlist">
        </form>
    </div>
    {% else %}
    <div>
        <form action="{% url "watch" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value={{id}}>
            <input type="submit" value="Add to Watchlist">
        </form>
    </div>
    {% endif %}

    <div>
        TODO comments
    </div>
    {% endif %}
{% endblock %}